
body{
    background: url("images/nikita-kachanovsky-571468-unsplash.jpg")  top fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fefefe
}
body .jumbotron{
    background: url("images/nikita-kachanovsky-571468-unsplash.jpg")  top fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fefefe;
    height: 45em;
}

img{
    display: inline-block;
}

.slow{
    animation-delay: 1s;
}

.row{

}
.about{
    padding: 7.5em;
    color: #fefefe;
    background-color: rgba(49, 45, 42, .8);
}


/* ==============*/
/* Orignally .column-left*/
.column-right{
    line-height: 1.6;
    margin: 2em 0em;
    /*border-top: 2px solid #a1a2a3;*/
    border-left: 2px solid #a1a2a3;
    text-align: left;
}
.column-left p{
}


/* ========================*/
/* Orignally .column-right*/
.column-left{
    line-height: 1.6;
    margin: 2em 0em;
    /*border-top: 2px solid #a1a2a3;*/
    border-right: 2px solid #a1a2a3;
    text-align: right;
}
.column-right p{

}

/*=======================*/
.about_me{
    /*border: solid 1px red;*/
    background-color: rgba(255, 255, 255, .8);
    color: #000;
    text-align: center;
    padding: 1em;

}

.projects{
    background-color: rgba(255, 255, 255, .8);
    padding: 2em 0em;
}

.container-fluid.projects{
    padding-top: 2em;
    padding-left: 2em;
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}
.projects-header{
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}

.project-slide{

}
svg{
    width: 10em;
    height: 10em;
    margin: 1em;
}
svg path{
    fill: rgba(255, 255, 255, .8);
}
.icon svg{
    padding: 0em 1em;
}
.skills{
    color: #fefefe;
    background-color: rgba(49, 45, 42, .8);
}

footer .container-fluid{
    padding: 0.5em 1em 0em 1em;
}
.footer-left{
    border-right: 1px solid rgba(255, 255, 255, .3);

}
.footer-right{
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.footer-right svg{
    width: 5em;
    height: 5em;
    margin: 1em;
}
